---
layout: page
---
<article id="true-undefined" class="article article-type-true" itemscope="" itemprop="blogPost">
                <table style="margin-top:20px;border:0;margin: auto;background-color:#f0f8ff;">
                  <tbody>
                    <tr style="border:0;background-color:#f0f8ff;">
                      <td style="width:200px;border:0;"><img style="width:200px;" src="images/people/qiang_xu1.jpg"></td>
                      <td style="border:0;">
                        <h1 style="font-size:50px;font-family:Cooper Black;margin-left:30px;">Qiang Xu</h1>
                        <div style="margin-left:30px;">
                          <p><b><a style="font-size:25px;text-decoration:none;" href="http://www.cs.sjtu.edu.cn/en/Faculty.aspx" target="_blank" rel="external"></a></b></p>
                          <div style="font-size:20px;">Rm 1008, <br>Ho-Sin Hang Engineering Building, <br>
                            the Chinese University of Hong Kong<br>
                          </div>
                          <p>
      <br />
      <a href="https://github.com/cure-lab"><i class="fa fa-github"></i> CureLab</a>&nbsp;&nbsp;&nbsp;
      <a href="https://scholar.google.com/citations?user=eSiKPqUAAAAJ&hl=zh-CN"><i class="fa fa-scholar"></i>Google Scholar</a>&nbsp;&nbsp;&nbsp;
      <a href="mailto:qxu@cuhk.edu.hk"><i class="fa fa-envelope-o"></i> qxu@cuhk.edu.hk</a>
      </p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <hr>
            
               
                <h1>Bio:</h1>
                <div style="font-size:20px;">
                  <p style="font-size:20px;margin-left:20px;text-align:justify;text-justify:inter-ideograph;"><span style="font-size:medium;font-family: Arial"> Qiang Xu leads CUHK Reliable Computing laboratory (CURE Lab.), and he is interested in combating all sorts of errors in computing systems. Recently, he is also interested in motion analysis for rehabiltation.  He has published broadly in the filed of electronic design automation (EDA), computer security and AI, and received a number of best paper awards and best paper nominations. He is currently serving as an Associate Editor for IEEE Transactions on Computer-Aided Design and Integration, the VLSI Journal. </span></p>
                </div>
                <hr>
              </article>


    <header class="masthead text-center">
      
        <span style="display: block; margin-bottom: 3em"></span>
      <div class="w3-container" style="   background: #f0f8ff; padding: 15px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h3> Recent News </h3>
          <u>Happenings of the last two months.</u>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
              {% capture now %}{{'now' | date: '%s' | minus: 5184000 %}}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
                  {% if date > now %}
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div >
      </div>
          <span style="display: block; margin-bottom: 3em"></span>
    </header>
