---
layout: default
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons/css/academicons.min.css">

<div class="container content page">
  
  
  <table style="margin-top: 20px; border: 0; margin: auto; background-color:#FFFFFF;"> 
    <tbody>
    <tr style="border: 0; background-color:#FFFFFF; ">
      <td style="border: 0; background-color:#FFFFFF;">
        <h3 class="page-title">{{ page.name }}</h3>
        <div style="font-size: 120%;">
          {% if page.email %}
            <i class="fa fa-envelope"></i> {{page.email}}
          {% endif %}
        </div>

        <br>
        <div style="font-size: 200%;">
          {% if page.scholar %}
            <a href="{{ page.scholar }}"><i class="ai ai-google-scholar"></i></a>
          {% endif %}
          {% if page.dblp %}
            <a href="{{ page.dblp }}"><i class="ai ai-dblp"></i></a>
          {% endif %}
          {% if page.github %}
            <a href="{{ page.github }}"><i class="fa fa-github"></i></a>
          {% endif %}
          {% if page.linkedin %}
            <a href="{{ page.linkedin }}"><i class="fa fa-linkedin"></i></a>
          {% endif %}
        </div>
        
      </td>
      <td style="width:200px;border:0;background-color:#FFFFFF;">
        {% if page.avatar %}
          <img class="img-fluid z-depth-1 rounded" src="{{ page.avatar | prepend: '/images/people/' | relative_url }}">
        {% endif %}
      </td>
    </tr>
    </tbody>
  </table>
      
<div>
    {{ content }}
</div>
</div>